<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.tp.road.mapper.TpAreaMapper">

    <resultMap id="tpAreaResult" type="TpArea">
   		<result property="id" column="id" />
		<result property="name" column="name" />
		<result property="sort" column="sort" />
		<result property="parentIds" column="parentIds" />
		<result property="acode" column="acode" />
		<association property="hasChildren" column="id" select="hasChildren" />
    </resultMap>
    
	<sql id="tpAreaColumns">
		a.id AS "id",
		a.name AS "name",
		a.parent_id AS "parent.id",
		a.parent_ids AS "parentIds",
		a.acode AS "acode",
		a.sort AS "sort"
	</sql>
	

	

	<sql id="tpAreaJoins">
		
	</sql>
	

    
	<select id="get" resultType="TpArea">
		SELECT 
			<include refid="tpAreaColumns"/>
		FROM tp_area a
		<include refid="tpAreaJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="TpArea">
		SELECT 
			<include refid="tpAreaColumns"/>
		FROM tp_area a
		<include refid="tpAreaJoins"/>
		<where>
			
			${dataScope}
			<if test="name != null and name != ''">
				AND a.name LIKE 
					<if test="dbName == 'oracle'">'%'||#{name}||'%'</if>
					<if test="dbName == 'mssql'">'%'+#{name}+'%'</if>
					<if test="dbName == 'mysql'">concat('%',#{name},'%')</if>
			</if>
			<if test="parent != null and parent.id != null and parent.id != ''">
				AND a.parent_id = #{parent.id}
			</if>
			<if test="parentIds != null and parentIds != ''">
				AND a.parent_ids LIKE 
					<if test="dbName == 'oracle'">'%'||#{parentIds}||'%'</if>
					<if test="dbName == 'mssql'">'%'+#{parentIds}+'%'</if>
					<if test="dbName == 'mysql'">concat('%',#{parentIds},'%')</if>
			</if>
		</where>
		ORDER BY a.sort ASC
	</select>
	
	<select id="findAllList" resultType="TpArea">
		SELECT 
			<include refid="tpAreaColumns"/>
		FROM tp_area a
		<include refid="tpAreaJoins"/>
		<where>
			
			${dataScope}
		</where>
		ORDER BY a.sort ASC
	</select>
	
	<select id="getChildren" parameterType="String" resultMap="tpAreaResult">  
        select * from tp_area where parent_id = #{id} ORDER BY sort 
    </select> 
     
    <select id="hasChildren" parameterType="String" resultType="Boolean">  
        select case when exists(select 1 from tp_area where parent_id = #{id}) then 1 else 0 end ${dual}
    </select>
    
	<select id="findByParentIdsLike" resultType="TpArea">
		SELECT
			a.id,
			a.parent_id AS "parent.id",
			a.parent_ids
		FROM tp_area a
		<include refid="tpAreaJoins"/>
		<where>
			
			AND a.parent_ids LIKE #{parentIds}
		</where>
		ORDER BY a.sort ASC
	</select>
	
	<insert id="insert">
		INSERT INTO tp_area(
			id,
			name,
			parent_id,
			parent_ids,
			acode,
			sort
		) VALUES (
			#{id},
			#{name},
			#{parent.id},
			#{parentIds},
			#{acode},
			#{sort}
		)
	</insert>
	
	<update id="update">
		UPDATE tp_area SET 	
			name = #{name},
			parent_id = #{parent.id},
			parent_ids = #{parentIds},
			acode = #{acode},
			sort = #{sort}
		WHERE id = #{id}
	</update>
	
	<update id="updateParentIds">
		UPDATE tp_area SET 
			parent_id = #{parent.id}, 
			parent_ids = #{parentIds}
		WHERE id = #{id}
	</update>
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM tp_area
		WHERE id = #{id} OR parent_ids LIKE 
		<if test="dbName == 'oracle'">'%,'||#{id}||',%'</if>
		<if test="dbName == 'mssql'">'%,'+#{id}+',%'</if>
        <if test="dbName == 'mysql'">CONCAT('%,', #{id}, ',%')</if>
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE tp_area SET 
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id} OR parent_ids LIKE 
		<if test="dbName == 'oracle'">'%,'||#{id}||',%'</if>
		<if test="dbName == 'mssql'">'%,'+#{id}+',%'</if>
        <if test="dbName == 'mysql'">CONCAT('%,', #{id}, ',%')</if>
	</update>
	
</mapper>